.filter {
  justify-content: center;
  align-items: center;
  margin: 0.4rem 0.4rem 0.6rem 0.4rem;
  flex-wrap: wrap;
}

.filter__chip {
  background-color: var(--primary-color);
  margin: 0.4rem;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

.filter__chip:hover {
  background-color: rgba(91, 87, 87, 0.6);
}

.active {
  background-color: rgba(91, 87, 87, 0.6);
}
