.searchbar {
  margin: 0.4rem 0.6rem;
  width: 60%;
}

.searchbar__input {
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  border: none;
  background-color: rgba(91, 87, 87, 0.6);
  color: var(--text-color);
  font-size: larger;
  width: 60%;
}
