.container {
  min-height: 100vh;
}

.container__content {
  align-items: center;
  margin-top: 4rem;
}

.container__content--img {
  width: 30%;
}

.img {
  width: 100%;
}

.link {
  color: var(--btn-color);
  text-decoration: underline;
  cursor: pointer;
}

p {
  font-size: 1.2rem;
}
